@font-face {
    font-family: 'Gotham';
    src: url('gotham-black.eot');
    src: url('gotham-black.eot?#iefix') format('embedded-opentype'), url('gotham-black.woff') format('woff'), url('gotham-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}


/* ==========================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* ==========================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* ==========================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}


/* ==========================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Indicate that 'label' will shift focus to the associated form element
 */

label {
    cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/* ==========================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}


/* ==========================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Helper classes.
   Please define your styles before this section.
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

a {
    color: #444;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/** STYLES **/
body {
    background: url(../img/background.png) repeat;
    font: 14px/1.5 Arial, sans-serif;
    color: #444;
}
#ribbon {
    position: fixed;
    top: 80px;
    left: -50px;
    background: url(../img/ribbon.png) no-repeat;
    width: 250px;
    height: 142px;
    z-index: 999;
    margin-top: auto;
    cursor: pointer;
}
#container {
    padding-top: 30px;
}
.wrapper {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}
#topbar {
    width: 100%;
    background: url(../img/header-top-bar-background.png) repeat-x;
    height: 46px;
    z-index: 1000;
}
.navigation {
    list-style-type: none;
}
.navigation li {
    float:left;
}
.navigation a {
    color: #999;
}
.navigation .spacer {
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
}

#logo {
    background: url(../img/logo.png) no-repeat;
    width: 326px;
    height: 56px;
    margin-top: 20px;
}

#menu{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
#headerphonenumber {
    margin-top: 30px;
    font: 20px Gotham, Arial, sans-serif;
}
#testimonials {
    background: url(../img/testimonials.png) repeat-x;
    height: 35px;
    padding-top: 6px;
    padding-left: 5px;
}
#testimonials span {
    color: #1BB8DF;
}
#textslider_slide {
    margin-top: 0;
    list-style: none;
    margin-left: -20px;
}
#slider {
    width: 960px;
    height: 380px;
    background: url(../img/slider.png);
}
ul.slideshow {
    list-style: none;
    position:relative;
}
ul.slideshow li {
    display:inline;
    position: absolute;
    left: 0px;
    top: 20px;
}
#slideshowtext {
    margin-left: 500px;
    color: #ff0;
    margin-top: 30px;
}
#slideshowtext h3 {
    padding-top: 40px;
    color: #DDD;
}
#slideshowtext p {
    
}
#slideshowover {
    position: absolute;
    background: #000;
    width: 960px;
    height: 110px;
    z-index: 998;
    margin-top: 120px;
    opacity:0.8;
}
#slideshowovercontent {
    position: absolute;
    width: 960px;
    height: 110px;
    z-index: 999;
    margin-top: 120px;
}
#slideshowovercontent .img {
    padding: 4px;
    float: left;
    margin-left: 12px;
}
#slideshowovercontent .img:hover {
    border: 1px #ff0 solid;
    padding: 3px;
}
#slideshowovertext {
    float:left;
    width: 480px;
    padding-top: 20px;
}
#slideshowoverimg {
    float:left;
    padding-top: 22px;
    margin-left: 5px;
}
#footer {
    
}
#topfooter {
    background: url(../img/footertopbackground.png) repeat-x;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: #535353;
}
#topfooter a {
    color: #535353;
}
#bottomfooter {
    margin-top: -20px;
    background: url(../img/footerbottombackground.png) repeat;
    text-align: justify;
}

#bottomfooter h3 {
    text-align: center;
}

#twitterfooter {
    padding-top: 20px;
}

/**
HOME STYLES
**/
#content h3 {
    font-size: 15px;
}
#content .slogan {
    margin-top: -20px;
    color: #999;
    border-bottom: 1px solid #000;
}
#contentleft {
    width: 660px;
    float: left;
}
.section h6 {
    font-size: 17px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 20px;
}
.sectionlist {
    float:left;
    padding-left: 10px;
}
.spritecontent {
    float:left;
    margin-top: -5px;
}
.spritepad {
    padding-bottom: 10px;
}
.sprite1 {
    float:left;
    width: 17px;
    height:13px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position: 0 0;
}
.sprite2 {
    float:left;
    width: 17px;
    height:13px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -13px;
}
.sprite3 {
    float:left;
    width: 17px;
    height:13px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -26px;
}
.sprite4 {
    float:left;
    width: 17px;
    height:15px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -42px;
}

.sprite5 {
    float:left;
    width: 17px;
    height:14px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -57px;
}
.sprite6 {
    float:left;
    width: 17px;
    height:16px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -70px;
}
.sprite7 {
    float:left;
    width: 17px;
    height:14px;
    background-image: url(../img/homepage_sprite_org.fw.png);
    background-position-y: -88px;
}
#contentright {
    width: 300px;
    float: left;
    text-align: center;
    padding-top: 40px;
}

#search {
    width: 250px;
    color: #CCC;
}

/** TABBY MC TAB TAB **/
#home_tabs {
    border: 1px solid #D3D3D3;
}
#home_tabs .tabs {
    list-style: none;
    text-align: left;
    margin:0;
    padding: 0;
}
#home_tabs .tabs li {
    float: left;
    padding-right: 25px;
    display: inline;
    padding-left: 25px;
    background: url(../img/tabs_inactive.fw.png) repeat-x;
    height: 29px;
    padding-top: 10px;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    cursor: pointer;
}
#home_tabs .tabs li:hover {
    background: #FFF;
}
#home_tabs .tabs a {
    text-decoration: none;
    color: #000;
}
#home_tabs .tabs li.current {
    background: #FFF;
    border-bottom: none;
}
#home_tabs_last {
    width: 51px;
}
#home_tabs .item {
    padding-top: 20px;
    background: #FFF;
}
#home_tabs .img {
    width: 60px;
    height: 60px;
}
#home_tabs .img img {
    float: left;
}
#home_tabs .itemcontent {
    width: 230px;
    text-align: justify;
}
#home_tabs .datetime {
    font-size: 11px;
    color: #CCC;
    clear:both;
}

/**
 COLUMNS
*/
.col_320 {
    width: 290px;
    max-width: 290px;
    float:left;
    margin-right: 15px;
    margin-left: 15px;
}
/**
 MISC CLASSES **/
.right {
    float: right;
}
.left {
    float: left;
}
.lightgrey {
    color: #999;
}
.font_12 {
    font-size: 12px;
}
.margintop_10 {
    margin-top: 10px;
}
.marg_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.clear {clear:both;}
.ulcontentfix {

    padding: 0;
    list-style: none;
}
/** Tweet **/
/*.tweet,
.query {
    font: 120% Georgia, serif;
    color: #085258;
}

.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.tweet a {
    color: #0CB7ED !important;
}
.tweet {
    color: #999 !important;
    font-size: 13px !important;
}
.tweet_avatar {
    display: none;
}
.tweet_list li {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
    list-style-type: none;
}

.tweet_list li a {
    color: #0C717A;
}

.tweet_odd, .tweet_even {
    border-bottom: 1px solid #FFF;
}

.tweet_list .tweet_avatar {
    padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
    vertical-align: middle;
}*/

#tweets a {
    color: #0CB7ED;
}
#tweets {
    color: #999;
}
#tweets .datetime {
    color: #CBCBCB;
    font-size: 11px;
    text-align: right;
}